.form{
    background-color: rgb(255, 204, 127);
    background: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    height: 310px;
    width: 500px;
    padding-left: 70px;
}
.input{
    padding-left: 10px;
    width: 350px;
    height: 40px;
}
.button{
    width: 350px;
    height: 40px;
    background-color: orangered;
    border: 1px solid orange;
    color: rgb(73, 33, 4);
}
.h1{
    padding-left: 70px;
    padding-top: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: orangered;
}